<a href="https://colab.research.google.com/github/mehul79/CC_mehul_102316082/blob/main/mehul_gupta_102316082.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Learn Python **
---

### 16 programs to explain the various concepts in python programming such as:

- Syntex,
- Loop,
- if-else,
- Data Structures,
- Strings,
- File Handaling,
- Exception Handaling,
- Random Numbers,
- Command Line Argunment
- Use of Libraries

---
### **Self learning resource**
Tutorial on Python (Byte of Python) **<a href="https://python.swaroopch.com/"> Click Here</a>**


```



```




---
# **1 Hello World**
---
**Learning:** How to print and run python program

In [ ]:
print ("Hello World")

Hello World

**Assingment 1.1**: WAP to print your name three times

In [1]:
print("Mehul Gupta")
print("Mehul Gupta")
print("Mehul Gupta")

Mehul Gupta
Mehul Gupta
Mehul Gupta

---
# **2 Add numbers and Concatinate strings**
**Learning:** How to declare variable, add, concatenate and print the result.

---
### **2.1 Add two numbers**

In [2]:
a = 10
b = 220
c = a + b
print ( c)

230


---
### **2.2 Concatinate two strings**
---

In [5]:
a = "Mehul"
b = " Gupta"
c = a + b
print ( c)

Mehul Gupta


---
### **2.3 Concatinate string with number**
---

In [6]:
a = "mehul"
b = 129
c = a + str(b)		# Concatinate string with number
print (c)

mehul129

**Assingment 2.1**: WAP to add three numbers and print the result.

**Assingment 2.2**: WAP to concatinate three strings and print the result.

In [7]:
print(10+20+30)
print("mehul"+"gupta")

60
mehulgupta

---
# **3 Input from user**
**Learning:** How to take input from user

---
### **3.1 Input two strings from user and concatinate them**
---

In [8]:
a = input("Enter First String: ")
b = input("Enter Second String: ")
c = a + b
print  (c)

Enter First String: mehul
Enter Second String: gupta
mehulgupta

---
### **3.2 Input two numbers from user and add them**
---

In [9]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
c = a + b
print (a, " + ", b, " --> ", c)

Enter First No: 23
Enter Second No: 12
23  +  12  -->  35

---
# **4 Loop**
**Learning:** Learn various loops.

---
### **4.1 While Loop**

In [ ]:
i=1
while i <= 10:
	print (i)
	i = i+1

1
2
3
4
5
6
7
8
9
10

---
### **4.2 Range Function**
---

In [ ]:
print ("range(10)        --> ", list(range(10)))
print ("range(10,20)     --> ", list(range(10,20)))
print ("range(0,20,2)    --> ", list(range(2,20,2)))
print ("range(-10,-20,2) --> ", list(range(-10,-20,2)))
print ("range(-10,-20,-2)--> ", list(range(-10,-20,-2)))

range(10)        -->  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(10,20)     -->  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(0,20,2)    -->  [2, 4, 6, 8, 10, 12, 14, 16, 18]
range(-10,-20,2) -->  []
range(-10,-20,-2)-->  [-10, -12, -14, -16, -18]

---
### **4.3 For loop**
---
### **4.3.1 For loop - Version 1**

In [ ]:
for i in range(0,10):
	print (i)

0
1
2
3
4
5
6
7
8
9

---
### **4.3.2 For loop - Version 2**
---

In [11]:
for i in range(0,16,2):
	print (i)

0
2
4
6
8
10
12
14

---
### **4.3.3 For loop - Version 3**
---

In [10]:
for i in range(0,-9,-1):
	print (i)

0
-1
-2
-3
-4
-5
-6
-7
-8

---
### **4.4 Print table of 5**
---

In [ ]:
for i in range(1,11):
	print (5," * ", i , " = ", i * 5)

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

---
### **4.5 Sum all numbers from 1 to 10**
---
### **4.5.1 Version 1**

In [ ]:
s=0
for i in range(1,11):
	s=s+i
print ("Sum is --> ",s)

Sum is -->  55

---
### **4.5.2 Version 2**
---

In [ ]:
print ("Sum is --> ", sum(range(1,11)))

Sum is -->  55

**Assingment 4.1:** WAP to print the table of 7, 9.

**Assingment 4.2:** WAP to print the table of n and n is given by user.

**Assingment 4.3:** WAP to add all the numbers from 1 to n and n is given by user.

In [ ]:
for i in range(1,11):
	print (7," * ", i , " = ", i * 7)

for i in range(1,11):
	print (9," * ", i , " = ", i * 9)


a = int(input("Enter a No: "))
for i in range(1,11):
	print (a," * ", i , " = ", i * a)


ans= 0
a = int(input("Enter a No: "))
for i in range(1,a+1):
	ans=ans+i
print ("Sum is --> ",ans)

7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90
Enter a No: 10
10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100
Enter a No: 10
Sum is -->  55

---
# **5 If-Else - Conditional Checking**
**Learning:** if-else Condition

---
### **5.1 Input two numbers from user and compare them**

In [12]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
if  a > b:
	print (a," > ",b)
else:
	print (a," < ",b)

Enter First No: 12
Enter Second No: 1
12  >  1

---
### **5.2 Check weather a number is odd or even**
---

In [13]:
n = int(input("Enter a No: "))
if  n % 2 == 0:
	print (n," is even")
else:
	print (n," is odd")

Enter a No: 789
789  is odd

---
### **5.3 Check weather a number is prime of not**
---

In [14]:
n = int(input("Enter a No: "))
f=0
for i in range(2, n//2 + 1):
	if  n % i == 0:
		f=1
		break

if f==0:
	print ("Prime")
else:
	print ("Not Prime")

Enter a No: 17
Prime

---
### **5.4 Conditional Checking - Compare strings**
---

In [15]:
a = input("Enter First String : ")
b = input("Enter Second String: ")

if a == b:
	print ("a == b")
elif a >= b:
	print ("a > b")
else:
	print ("a < b")

Enter First String : u
Enter Second String: f
a > b

**Assingment 5.1:** WAP to find max amoung three numbers and input from user. [Try max() function]

**Assingment 5.2:** WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

**Assingment 5.3:** WAP to add all prime numbers from 1 to n and n is given by the user.

In [ ]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
c = int(input("Enter Third No: "))
print(max(a,max(b,c)))



def sum_divisible_by_7_and_9(n):
  sum = 0
  for i in range(1, n + 1):
    if i % 7 == 0 and i % 9 == 0:
      sum += i
  return sum

# Get input from the user
n = int(input("enter the number"))

# Calculate and print the sum
result = sum_divisible_by_7_and_9(n)
print("The sum of numbers divisible by 7 and 9 from 1 to", n, "is:", result)

Enter First No: 10
Enter Second No: 20
Enter Third No: 30
30
enter the number100
The sum of numbers divisible by 7 and 9 from 1 to 100 is: 63

---
# **6 Functions**
**Learning:** How to declare and call function

---
### **6.1 Add two numbers**

In [ ]:
def Add(a,b):
	c=a+b
	return c

print ("Add(10,20) -->", Add(10,20))
print ("Add(20,50) -->", Add(20,50))
print ("Add(80,200) -->", Add(80,200))

Add(10,20) --> 30
Add(20,50) --> 70
Add(80,200) --> 280

---
### **6.2 Prime number**
---

In [ ]:
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1

print ("IsPrime(20)  --> ", IsPrime(20))
print ("IsPrime(23)  --> ", IsPrime(23))
print ("IsPrime(200) --> ", IsPrime(200))
print ("IsPrime(37)  --> ", IsPrime(37))

IsPrime(20)  -->  0
IsPrime(23)  -->  1
IsPrime(200) -->  0
IsPrime(37)  -->  1

---
### **6.3 Add 1 to n**
---

In [ ]:
def AddN(n):
	s= sum(range(n+1))
	return s

print ("AddN(10)  --> ", AddN(10))
print ("AddN(20)  --> ", AddN(20))
print ("AddN(50)  --> ", AddN(50))
print ("AddN(200) --> ", AddN(200))

AddN(10)  -->  55
AddN(20)  -->  210
AddN(50)  -->  1275
AddN(200) -->  20100


**Assingment 6.1:** WAP using function that add all odd numbers from 1 to n, n is given by the user.

**Assingment 6.2:** WAP using function that add all prime numbers from 1 to n, n given by the user.

In [ ]:

def add_odd(n):
  total = 0
  for i in range(1, n + 1, 2):
    total += i
  return total
add_odd(5)


def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1

def primes(n):
  for i in range(2, n + 1):
    if IsPrime(i):
      print(i)
primes(40)

2
3
5
7
11
13
17
19
23
29
31
37